/* Importing Google Fonts for aesthetic */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.root {
    -fx-font-size: 20px;
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-weight: 500;
    -fx-background-color: #4054ec;
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-border-radius: 20pt;
    -fx-background-radius: 20pt;
    -fx-text-fill: #ffffff;
    -fx-background-color: #feac4c;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 1);
    -fx-font-weight: 600;
}

.chart-bar .chart-plot-background {
    -fx-background-color: #eeeeee;
}

.chart-bar {
    -fx-bar-fill: #feac4c;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 1);
}

.table-view {
    -fx-background-color: #eeeeee;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 1);
}

.table-view .column-header {
    -fx-background-color: #feac4c;
}
.table-row-cell:selected {
    -fx-background-color: #888888;
}
